.projecthandler {
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  .p1 {
    /* background: url("./projekty/shop/shop1.png");
    background-repeat: no-repeat; */
  }
  .p2 {
    /*
    background: url("./projekty/Layout/main.png");
    background-repeat: no-repeat;
    */
  }
  .projectRow {
    display: flex;
    justify-content: space-between;
  }
  
  .projectCard {
    border-radius: 5px;
    box-shadow: 5px;
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
    img{
      border-radius: 5px;
      height: 350px;
      max-width: 600px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
   
  }
  .projectCard:hover img {
    transform: scale(1.05); /* Powiększenie */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Efekt cienia */
  }
  
  @media screen and (max-width: 768px) {
    .proitem {
      margin-bottom: 20px;
    }
    .projecthandler {
      margin-bottom: 40px;
    }
    .projektyRow {
      height: 90vh;
    }
    .p2 {
      background-size: cover;
    }
    .p1 {
      background-size: cover;
      background-position: center;
    }
    .prozdj {
      height: 200px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .prozdj img {
      object-fit: cover;
    }
  }

  @media (max-width: 1200px) {
    .projectCard img {
        height: 300px;
        max-width: 400px;
    }
}

@media (max-width: 992px) {
    .projectRow {
        flex-direction: column; /* Karty pod sobą zamiast obok siebie */
        align-items: center;
    }

    .projectCard img {
        height: 280px;
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .projectCard img {
        height: 250px;
        max-width: 400px;
    }
}

@media (max-width: 576px) {
    .projectCard img {
        height: 220px;
        max-width: 100%;
    }
}
  